@import './css/constants';

body {
  margin: 0;
  background-color: black;
  color: white;
}

a { 
  color: white;
  text-decoration: none; /* no underline */
}

header {
  display: inherit;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  h1 {
    margin: 15px 0px 0px;
    font-size: font-size(header-h1-mobile);
    font-family: "Franklin Gothic Book", sans-serif;

    @include laptop {
      font-size: font-size(header-h1-laptop);
    }
  }

  nav {
    display: inherit;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 15px;
    cursor: pointer;

    @include laptop {
      top: 30px;
      right: 30px;
    }
  }

  
}

// Start Home Page

.home, .video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.home > section {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit; 
  width: 100%;
  
  h2 {
    font-family: "GT-Super", serif;
    font-size: font-size(talent-mobile);
    margin: 30px 0px;

    @include tablet-landscape {
      font-size: font-size(talent-tablet);
      margin: 35px 0px;
    }

    @include laptop {
      font-size: font-size(talent-laptop);
      margin: 45px 0px;
    }

    @include desktop {
      margin: 50px 0px;
    }
  }
}

.home > section > .home-grid {
  width: 86%;
  margin-bottom: 35px;

  a {
    height: 250px;
    display: block;
    transition-duration: .5s;

    :hover {
      opacity: .8;

      h3 {
        opacity: 1;
      }
    }
  }

  .grid-item {
    display: flex;
    height: 100%;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition-duration: .5s;

    h3 {
      font-size: font-size(grid-mobile);
      font-family: "GT-Bold", serif;
    }

  }

  @include tablet-landscape {
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    a {
      width: 50%;
    }
  }

  @include laptop {
    margin-bottom: 85px;

    a {
      height: 270px;

      .grid-item {
        height: 270px;
      }

      h3 {
        font-size: font-size(grid-desktop);
      }
    }
  }

  @include desktop {
    margin-bottom: 130px;

    a {
      height: 375px;

      .grid-item {
        height: 375px;
      }
    }
  }
}

// Start Video Page

.video > section {
  width: 100%;
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  div.video-talent {
    order: 1;
    margin-left: 15px;
    span {
      color: #7D765B;
    }

    p {
      text-transform: uppercase;
    }
  }

  div.video-player {
    order: 3;
    min-width: 100%;
    margin: 0;
  }

  div.video-close {
    order: 2;
    margin-right: 15px;
    
    p {
      transition-duration: .3s;
    }

    :hover {
      opacity: .6;
    }
  }

  div.video-talent, div.video-close {
    font-size: font-size(video-sub-mobile);
    font-family: "Franklin Gothic MedCd", sans-serif;
  }

  @include tablet-portrait {
    div.video-talent, div.video-close {
      margin-top: 15px;
    }
  }

  @include laptop {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div.video-talent {
      order: 1;
      width: 25px;
      overflow: visible;
      white-space: nowrap;
      margin-top: 75px;
    }

    div.video-player {
      order: 2;
      min-width: 0%;
      margin: 0px 30px;
    }

    div.video-close {
      order: 3;
      width: 25px;
      margin-top: 0px;
    }
    
    div.video-talent, div.video-close {
      transform: rotate(270deg) translate3d( 0, 0, 0);
        -webkit-transform-origin: 48% 53%;
      p {
        line-height: 1;
        font-size: font-size(video-sub-laptop);
      }
    }
  }

  @include desktop {
    div.video-player {
      margin: 0px 50px;
    }
  }


  .video-player {
    position: relative;
    height: 0;
    margin: 0 15px;
    padding-bottom: 48.25%;
    overflow: hidden;
    width: 86%;
    

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @include tablet-portrait {
      padding-bottom: 46.25%;
    }

    @include laptop {
      padding-bottom: 40.25%;
    }

    @include laptop-xl {
      padding-bottom: 37.25%;
    }

    
  }
}

.video > footer {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;

  p {
    color: #7D765B;
    margin: 10px 0px;
    font-size: font-size(video-footer-sub-mobile);
    font-family: "GT-Medium", serif;
  }

  h2 {
    margin: 10px 0px;
    font-family: "GT-Bold", serif;
  }

  @include tablet-portrait {
    p {
      font-size: font-size(video-footer-sub-tablet);
    }
  }

  @include laptop {
    h2 {
      margin: 15px 0px;
      font-size: font-size(video-footer-title-laptop);
    }
  
    p {
      font-size: font-size(video-footer-sub-laptop);
      color: #7D765B;
    }
  }
  
}